@import 'footer';
@import 'header';
.da-login-bg{
    padding-bottom:40px;
    li{
    position:relative;
    margin-top:20px;
    }
    img{
    margin-left:80px
    };
    .name{
    position:absolute;
    top:10px;
    left:565px; 
    }
    .danjia{
    position:absolute;
    top:10px;
    left:820px; 
    }
    .shuliang{
    position:absolute;
    top:10px;
    left:950px; 
    }
    .xiaoji{
    position:absolute;
    top:10px;
    left:1065px; 
    }
    .caozuo{
    position:absolute;
    top:10px;
    left:1200px; 
    }
    h6{
    position:absolute;
    top:70px;
    left:460px;
    width:300px;
    }
    .price{
    position:absolute;
    top:95px;
    left:825px;  
    }
    .idx{
    position:absolute;
    top:95px;
    left:960px;
    }
    .sum{
    position:absolute;
    top:95px;
    left:1065px;
    }
    .btnclose{
    position:absolute;
    top:95px;
    left:1200px;
    cursor:pointer;
    }
    .heji{
    position:absolute;
    color:red;
    right:317px;
    }
    .sump{
    position:absolute;
    color:red;
    right:270px;
    }
    .pay{
    display:inline-block;
    width:80px;
    height:30px;
    line-height:30px;
    color:#fff;
   background-color:#f25e5a;
    position:absolute;
    right:140px;
    cursor:pointer;
    padding-left:12px;
    }
}